/runs
/wandb/*
/data/*.csv
/data/*.h5
/data/*.mat
/images
/plots
/viz_check_images
*/__pycache__
__pycache__
/__pycache__
/__pycache__/*
plot.ipynb
experiments/session_factors/*
experiments/session_trials/*
*.pkl